<div class="header-nav">
    <div class="header-title">
        <a href="client_dashboard.html">
            <h2>Proyecto</h2>
        </a>
    </div>
    <div class="header-actions">
        <a class="back-button" href="javascript:history.back();">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="menu-button">
            <i class="menu-icon"></i>
        </div>
    </div>
</div>

<script> 
    $('.menu-button').click(function(){
        $('.black-screen').toggleClass('active');
        $('.sidebar').toggleClass('active');
        $(this).find('.menu-icon').toggleClass('active');
    });
    if( $('.dashboard').length == 1){
        $('.back-button').addClass('hidden');
    }
</script>