<a href="javascript:history.back();" class="btn btn-success"><i class="fas fa-save"></i> Guardar</a>
<a href="javascript:history.back();" class="btn btn-danger"><i class="fas fa-redo-alt"></i> Volver</a>