<div class="sidebar-header">
    <div class="sidebar-user">
        <div class="sidebar-user-photo">
            <img src="img/profile-user.png">
        </div>
        <div class="sidebar-user-info">
            <p>Nombre Generico</p>
            <span>Tipo generico</span>
        </div>
    </div>
    <div class="sidebar-options">
        <label>Opciones</label>
        <ul>
           <li><a href="#"> <i class="fas fa-bell"></i> Notificaciones </a></li>
           <li><a href="#"> <i class="fas fa-star"></i> Favoritos </a></li>
           <li><a href="index.html"> <i class="fas fa-arrow-circle-left"></i> Salir </a></li>
        </ul>
    </div>
</div>